<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MSAccess2007.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="MyConn.config"/>
    <startup useLegacyV2RuntimeActivationPolicy ="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <MSAccess2007.My.MySettings>
            <setting name="MyPass" serializeAs="String">
                <value>evry1falls</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>n89b0u1pfczw6vj</value>
            </setting>
            <setting name="LoopBackHost" serializeAs="String">
                <value>http://localhost:52499/</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Uid" serializeAs="String">
                <value />
            </setting>
        </MSAccess2007.My.MySettings>
    </userSettings>
</configuration>
